nav{
  background-color: white;
  grid-area: nav;
}
.items{
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 13px;
  cursor: pointer;
}
.items img{
  width: 30px;
  height: 30px;
  padding-bottom:4px ;
}
.items:hover{
  background: #eee;
}
/* **************************** */
.nav-2{
  background-color:white;
  grid-area: nav-2;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  font-size: 10px;
}
.icons{
  background-color: #eee;
  width: fit-content;
  height: fit-content;
  padding: 10px;
  margin: 5px 6px;
  border-radius: 15px;
  cursor: pointer;
  color: black;
  font-weight: bold;
}
.father{
  position: relative;
}
.number{
  background-color: red;
  position: absolute;
  top: -3px;
  right: 4px;
  width: 15px;
  height: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: white;
font-size: 13px;
}